* {
font-family: "JetBrainsMono Nerd Font", monospace;
font-size: 13px;
}

window#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#clock {
  background-color: #24273a;
  padding: 0 10px;
  color: #cdd6f4;
}

#battery {
  background-color: #24273a;
  padding: 0 10px;
  color: #cdd6f4;
}

#network {
  background-color: #24273a;
  padding: 0 10px;
  color: #cdd6f4;
}

#pulseaudio {
  background-color: #24273a;
  padding: 0 10px;
  color: #cdd6f4;
}

#workspaces button {
  padding: 0 8px;
  border-radius: 0px;
  background-color: #313244;
  color: #cdd6f4;
}

#workspaces button.active {
  background-color: #9399b2;
  color: #11111b;
}

#window {
  color: #cdd6f4;
}
